<div class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
      <h2 class="mb-3"><%= @task.title %></h2>
      <%= render 'partials/task_form', task: @task %>
    </div>
  </div>
</div>
