<% path = user_signed_in? ? tasks_path : home_path %>

<%= link_to path, class:"fs-3 m-0 text-light" do %>
  <div class="logo d-flex align-items-center">
    <i class="fa-solid fa-list-check me-2"></i>
    <div>Tidi</div>
  </div>
<% end %>
