<nav class="navbar position-sticky top-0 py-0 bg-dark">
  <%= render 'partials/logo' %>
  <div class="p-3 d-flex align-items-center">
    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, class:"avatar" do %>
        <%= render 'partials/initials_avatar' %>
      <% end %>
    <% else %>
      <% unless current_page?(controller: "devise/sessions", action: "new") %>
        <%= link_to "Log in", new_user_session_path, class:"btn btn-primary"  %>
      <% end %>
    <% end %>
  </div>
</nav>
