<nav class="navbar bg-dark">
  <h3 class="m-0 p-3"><%= link_to 'My task manager', root_path, class: "text-light" %></h3>
  <div class="p-3">
    <%= link_to 'Create task', new_task_path, class: "btn btn-success" %>
  </div>
</nav>
