<div class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
      <h1 class="text-center">Minimalist task manager</h1>
      <ul class="list">
        <li>
        <div class="d-flex">
          <i class="selling-icon fa-regular fa-circle-check me-2 align-self-center"></i>
          Get an overview
        </div>
        </li>
        <li>
        <div class="d-flex">
          <i class="selling-icon fa-regular fa-circle-check me-2 align-self-center"></i>
          Prioritize
        </div>
        </li>
        <li>
        <div class="d-flex">
          <i class="selling-icon fa-regular fa-circle-check me-2 align-self-center"></i>
          Group tasks
        </div>
        </li>
      </ul>
      <%= image_tag 'undraw_exams_re_4ios.svg', class:"my-5 w-50 h-50" %>
    </div>
  </div>
</div>
