@import "font-awesome";
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";
@import "bootstrap/scss/bootstrap";
@import "config/components/logo";
@import "pages/home";


a {
   text-decoration: none!important;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.list {
  list-style-type: none;
}
