.navbar-transparent {
  background-color: transparent;
  transition: background-color 0.1s;
  .logo {
    color: black;
  }
}

.navbar-primary {
  background-color: $blue;
  transition: background-color 0.1s;
}
